.text {
  &-cus-red {
    color: $main-color;
    text-decoration: none;
  }
  &-title-black {
    color: $title-color;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    &:hover {
      color: $main-color;
    }
  }
  &-meta-grey {
    color: $meta-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
  }
  &-color-1st {
    color: $color-1st;
  }
}
.boder {
  &-gray {
    border: 1px solid $boder-gray;
    &:focus {
      border-color: rgb(59 130 246) !important;
    }
  }
}
