$primary-color: #0066e6;
$error-color: #eb6c86;
$grey-color: #777e90;
$bg-white-color: #f4f5f6;
$border-grey: #b1b5c3;
$main-color: #f63a3a;
$main-text-color: #626262;

$title-color: #161618;
$meta-color: #979797;
$color-1st: #af0f26;
$boder-gray: rgb(229 231 235);
$color-antd-selected: #bae7ff;
